.navItems{
    display: grid;
    grid-template-columns: 85% 5% 7% 4%;
    grid-template-rows: 10%;
    /* display: flex; */
    list-style-type: none;
    width: 100%;
    /* justify-content: space-around; */
}

.button1{
    margin-right: auto;
}

.button2{
   margin-left:auto;
   object-fit: contain;
}


.sideButtons{
    margin-top: 20px;
    font-size: 20px;

}

.navContainer{
    height: 70px;
    background-color: whitesmoke;
    margin-top: -15px;
}

.button{
    background-color: aqua;
    padding: 3px 4px;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 10px 5px 5px teal;
}
