.navItems{
    display: flex;
    /* grid-template-columns: 50% 10% 10% 10% 10% 5%; */
    justify-content: space-evenly;
    align-items: center;
    /* grid-template-rows: 10%; */
    list-style-type: none;
    margin:0;
}

.navItems2 {
    display: grid;
    grid-template-columns: 70% 15% 15%;
    grid-template-rows: 10%;
    list-style-type: none;
}

.button1{
    margin-right: auto;
}

.button2{
   margin-left:auto;
   object-fit: contain;
}


.sideButtons{
    font-size: 20px;
    margin-right: 20px;
}

.navContainer{
    width:100%;
    height:auto;
    background-color: whitesmoke;
    position: absolute;
    top: 0;
    padding:-3px;
    /* margin-bottom:1vh; */
}

.button{
    background-color:#3d95ce;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    border-radius: 4px;
    text-decoration: none;
    /* box-shadow: 5px 1px 5px lightslategrey; */
    color: white;
    font-weight: 600px;
    cursor: pointer;
    border: none;
}

.button:hover {
    background-color: #c00a0a;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    border-radius: 4px;
    text-decoration: none;
    /* box-shadow: 5px 1px 5px lightslategrey; */
    color: white;
    font-weight: 600px;
    cursor: pointer;
    border: none;
}

.navbarLinks {
    color: #3d95ce;
    text-decoration: none;
    font-weight: 600;
    font-family: "Scto Grotesk A","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbarLinks:hover {
    color: #c00a0a;
    text-decoration: none;
    font-weight: 700;
}

.logoutButton {
    background: #3d95ce;
    color: white;
    border-radius: 4px;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    font-weight: 600px;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
}

.logoutButton:hover {
    background: #c00a0a;
    color: white;
    border-radius: 4px;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    font-weight: 600px;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
}
