
.div__payment__container {
    border-radius: 4px;
    width: 100%;
}
.paymentTable-container{
    width: 50%;
    height: 50%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%;
    border-bottom: 3px solid #3d95ce;
}

.paymentTable-container:hover {
    width: 50%;
    height: 50%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%;
    border-bottom: 3px solid #c00a0a;
}

.payment__td {
    /* background: white; */
    padding: 1%;
    width: 250px;
    height: 30px;
    margin-left: 1px;
}

.payment__deleteBtn {
    width: auto;
    height: auto;
    margin: 50%;
    background: #3d95ce;
    color: white;
    border-radius: 4px;
    padding: 1%;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    padding: 10%;
}

.payment__deleteBtn:hover {
    width: auto;
    height: auto;
    margin: 50%;
    background: #c00a0a;
    color: white;
    border-radius: 4px;
    padding: 1%;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    padding: 10%;
}

.tablePaymentMethods{
    font-size: 1vw;
}

.creditcard {
    margin-right: 10px;
    font-size: 20px;
}
