/* TODO Add site wide styles */
body, html{
    margin: 0;
}

div {
    font-family: "Scto Grotesk A","Helvetica Neue",Helvetica,Arial,sans-serif  !important;
}

.errors{
    display: flex;
    position: absolute;
    right: 44%;
    color: red;
    font-size: 1vw;
    flex-direction: column;
}

.errors2{
    display: flex;
    color: red;
    font-size: 1vw;
    flex-direction: column;
}

.errors3{
    display: flex;
    color: red;
    font-size: 1vw;
    flex-direction: column;
    position: relative;
    bottom: 22px;
}
