.div__popUp {
    height: 200px;
    width: 200px;
    border: 2px solid black
}

.div__popUp.hidden{
    visibility: hidden;
}

.paymentmethodlink {
    display:flex;
    position: relative;
    color: #0074de;
    text-decoration: none;
    justify-content: flex-end;
    font-weight: 500;
    font-family: "Scto Grotesk A","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 58.5%;
    justify-self: center;
    right: 0px;
    /* padding: 10px; */
    padding-bottom: 30px;
    margin-top: 25px;
}

.paymentmethodlink:hover {
    color: #c00a0a;
    text-decoration: none;
    font-weight: 500;
    font-family: "Scto Grotesk A","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.paymentDetailsContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.divPaymentMethods{
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 3vw;
}

.paymentMethodsContainer{
    background: #f7f7f7;
    min-height: 45px;
}
