.div__popUp {
    height: 200px;
    width: 200px;
    border: 2px solid black
}

.div__popUp.hidden{
    visibility: hidden;
}

.paymentmethodlink {
    display:flex;
    color: #0074de;
    text-decoration: none;
    font-weight: 500;
    font-family: "Scto Grotesk A","Helvetica Neue",Helvetica,Arial,sans-serif;
    position:absolute;
    margin-left: 5px;
    width: 100%;
    justify-self: center;
}

.paymentmethodlink:hover {
    color: #c00a0a;
    text-decoration: none;
    font-weight: 500;
    font-family: "Scto Grotesk A","Helvetica Neue",Helvetica,Arial,sans-serif;
}
