.IndividualTransactionContainer{
    width: 50%;
    height: 50%;
    border-bottom: 1px solid darkgrey;
    border-top: 1px solid darkgrey;
    /* border: none; */
    /* background: #ededed; */
    margin: auto;
    margin-top: 5%;
    display: grid;
    padding: 5%;
    grid-template-areas:
    "payer cost"
    "desc cost"
    "date cost";
    grid-template-columns: 80% 20%;
}

.Sender_Receiver_Big{
    grid-area: payer;
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    margin: 2%;
}

.Description_Big{
    grid-area: desc;
    display: flex;
    justify-content: center;
    font-size: 25px;
    align-items: center;
    margin: 2%;
}

.date_Big{
    grid-area: date;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 25px;
    margin: 2%;
}

.CostLoss_Big{
    grid-area: cost;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    color: red;
    font-size: 25px;
    font-weight: 800;
    margin: 2%;
}

.CostGain_Big{
    grid-area: cost;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    color: green;
    font-size: 25px;
    font-weight: 800;
    margin: 2%;
}
