.friend__icon{
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
    border-radius: 50%;
    margin-right: 5px;
    position: relative;
    top: 7px;
}

.div__friend__username{
    display: inline-block;
    border: 1px solid black;
    /* margin: 5px; */
    /* padding: 5px; */
    font-family: sans-serif;
    font-size: 14px;
    min-width: 50px;
    overflow: hidden;
    text-align: center;
}

.img__icons__friends{

}

.div__friend__buttons__container{
    display: flex;
    justify-content: space-around;
}

.div__friends__list__container{
    min-height: 280px;
}

.div__friends__list__flex{
    max-height: 280px;
}

.div__friend__buttons__container img{
    min-width: 30px;
    min-height: 30px;
    max-width: 40px;
    max-height: 40px;
}

.img__icons__friends__1{
    position: absolute;
    bottom: 0px;
    left: 0px;
    cursor: pointer;
}

.img__icons__friends__2{
    position: absolute;
    bottom: 0px;
    right: 50%;
    left: 44%;
    cursor: pointer;
}

.img__icons__friends__3{
    position: absolute;
    bottom: 0px;
    cursor: pointer;
    right: 0;
}

.div__friend__buttons__container img.active{
    border: 1px solid blue;
    border-radius: 50%;
}

.friends__list.selected{

}


.friend__button {
    color: white;
    background-color: #339DFF;
    border-radius: 50px;
    border: none;
    font-size: 14px;
    max-height: 6vh;
    cursor: pointer;
    position: relative;
    left: 40%;
    bottom: 4px;
}

.div__friends__list__flex li{
    display: inline-block;
}

.search__button{
    color: white;
    background-color:#339DFF;
    border-radius: 50px;
    border: none;
    font-size: 14px;
}


.friends__list{
    overflow: auto;
    max-height: 280px;
}

.friends__list ul{
    border-top: 2px solid #DDD;
    width: auto;
    display: flex;
    flex-direction: column;
    min-width: 194px;
    align-items: center;

}


.friends__list ul li{
    margin-top: 5px;
    display: inline-block;
    list-style: none;
    position: relative;
    right: 55px;
    ;
}

.friends__list ul li:hover{
    background-color:#DDD;
    border-radius: 10px;
}

.friend__requests{
    overflow: auto;
    max-height: 280px;
}

.friend__requests ul{
    border-top: 2px solid #DDD;
    width: auto;
    display: flex;
    flex-direction: column;
    min-width: 194px;
    align-items: center;

}

.friend__requests ul li{
    margin-top: 5px;
    display: inline-block;
    list-style: none;
    position: relative;
    right: 55px;
    ;

}

.friend__requests ul li:hover{
    background-color:#DDD;
    border-radius: 10px;
}

.pending__requests{
    overflow: auto;
    max-height: 280px;
}

.pending__requests ul{
    border-top: 2px solid #DDD;
    width: auto;
    display: flex;
    flex-direction: column;
    min-width: 194px;
    align-items: center;

}

.pending__requests ul li{
    margin-top: 5px;
    display: inline-block;
    list-style: none;
    position: relative;
    right: 55px;
    ;
}

.pending__requests ul li:hover{
    background-color:#DDD;
    border-radius: 10px;
}

.hidden{
    display: none;
}
