.StackContainer{
    display: grid;
    grid-template-areas:
    "left right";
    grid-template-columns: 1fr 1fr;
    height: 10%;
    /* border: 3px solid black; */
    width: 85vw;
    margin-top: 50px;
    margin-bottom: 100px;
}

.class1{
    grid-area: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.class2{
    grid-area: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img{
    width: 75%;
    height: 90%;
    object-fit: fill;
    border-radius: 7px;
    border: 2px solid black;
}

/* h1{
    margin-left: 60px;
    margin-right: 40px;
    font-size: 100px;
} */

.splashHeaders{
    font-size: 2vw;

}
.splashText{
    font-size: 1.5vw;
    text-align: center;
    width: 85%;
    
}

/* @media screen and (max-width: 500px) {
    .StackContainer{
        display: grid;
        grid-template-columns: 1fr
    }
} */
