.div__outer__container{
    display: flex;
    justify-content: space-around;
    /* width: 100%; */
    margin-top: 3%;
    margin-left: 2%;
    /* border-top: 1px solid black; */
}

.div__profile__container{
    min-width: 200px;
    margin: 2%;
    display: flex;
    flex-direction: column;
    padding-right: 5%;
}

.div__transactions__container{
    /* border: 1px solid black; */
    min-width: 300px;
    text-align: center;
    height: 800px;
    margin-left: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 150px;
}

.profileImage {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid #3d95ce;
    margin: 10px;
}

.div__profile__descriptions {
    /* border: 1px solid black; */
    margin-top: 15px;
    font-family: "Scto Grotesk A","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.div__profile__links {
    margin-top: 15px;
    color: #0074de;
    text-decoration: none;
    font-family: "Scto Grotesk A","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.div__profile__links:hover {
    margin-top: 15px;
    color: #c00a0a;
    text-decoration: none;
}

/*
.div__profile__container {
    margin-bottom: 100px;
} */

.transaction_display{
    border-left: 1px solid darkgray;
    padding-left: 10%;
    padding-right: 10%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.transaction_link{
    width:90%;
    display:flex;
    justify-content: center;
    margin: 2%;
    color: #3d95ce;
    text-decoration: none;
    font-weight: 600;
    font-family: "Scto Grotesk A","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.transaction_link:hover{
    width:90%;
    display:flex;
    justify-content: center;
    margin: 2%;
    color: #c00a0a;
    text-decoration: none;
    font-weight: 600;
    font-family: "Scto Grotesk A","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.button__profile__friends {
    margin-top: 5%;
}


.div__friends__list{
    border: 1px solid rgba(146, 183, 224, 0.753);
    position: relative;
    /* left: 70%; */
    min-width: 250px;
    /* min-height: 300px; */
    bottom: 331px;
    right: 212px;
    border-style: solid;
    border-width: 5px;
    border-radius: 7px;
}

.div__friends__list.hidden{
    visibility: hidden
}

.div__friend__list__flex__container{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    /* position: sticky; */
}

.img__friend__icon{
    min-width: 30px;
    min-height: 30px;
    max-width: 40px;
    max-height: 40px;
    z-index: 200;
    cursor: pointer;
}

.div__add__friends__form__container{

}

.div__friend__icon{
    float: right;
    position: fixed;
    bottom: 25px;
    background: transparent;
    right: 20px;
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
}

.img__friend__icon.hidden{
    visibility: hidden;
}

.div__friend__requests__length{
    border: 1px solid red;
    background: red;
    color: white;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    min-height: 20px;
    min-width: 20px;
    left: 25px;
    bottom: 15px;
    max-width: 20px;
    max-height: 20px;
    font-size: 10px;
    display: flex;
    /* overflow: hidden; */
    justify-content: center;
    align-items: center;
}

.div__friend__requests__length.hidden{
    visibility: hidden;
}
